@media(max-width:2560px) {
    #restro0 {
        margin-left: -35px;
        margin-right: 35px;
    }
    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img {
        width: auto;
        height: 100%;
    }
    #carwa0 {
        margin-left: 30px;
        padding-right: 35px;
    }
    .side-deals-box.consumer-business-box span.line1 {
        top: 18.3%;
        right: 0;
    }
    .side-deals-box.consumer-business-box span {
        position: absolute;
        width: 456px;
    }    
    .side-deals-box.consumer-business-box span.line2 {
        top: 39.5%;
        right: -33px;
        width: 375px;
    }
    .side-deals-box.consumer-business-box span.line3 {
        top: 61%;
        right: 0;
        width: 342px;
    }
    
    
    .for-sponsors-box-area .side-deals-box .side-image {
        margin-bottom: 0px;
        height: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    /* #restro {
        margin-right:35px;
    } */
}
@media(max-width:1920px){
    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img {
        width: auto;
        height: 100%;
    }
    .created-box {
        height: 300px;
    }
    .client-testimonial {
        position: relative;
        height: 425px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box {
       margin-top: 70px;
    }
    
    
    .side-deals-box.consumer-business-box span {
        position: absolute;
        width: 351px;
    }
    /* .side-deals-box.consumer-business-box span.line1 {
        top: 19.3%;
        right: 0;
    }
    .side-deals-box.consumer-business-box span.line2 {
        top: 44.5%;
        right: -33px;
        width: 351px;
    }
    .side-deals-box.consumer-business-box span.line3 {
        top: 70%;
        right: 0;
        width: 355px;
    } */
    .for-sponsors-box-area .side-deals-box .side-image img {
        /* width: 100%; */
        height: auto;
    }
    .for-sponsors-box-area .side-deals-box .side-image {
        margin-bottom: 0px;
        height: 50%;
        margin-left:auto;
        margin-right: auto;
    }
    
    #restro {
        margin-left: -35px;
        /* margin-right: 35px; */
    }
    #carwa
    {
        /* margin-left: -35px; */
        margin-right: 35px;
    }
    #carwa0 {
        margin-left: 30px;
        padding-right: 35px;
    }
    /* .consumer-service-section .service-box #restro {
        margin-left: -35px;
        margin-right:0px;
    } */
    .sponsors-text{
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
    .home-main-box .consumer-service-section{
        column-gap: 10px;
    }
}



@media(max-width:1600px) 
{   
    

    .side-deals-box.consumer-business-content-box{
    height: 100%;
    overflow: hidden;
    padding: 48px 48px 48px 48px;
    }
    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img {
        width: auto;
        height: 90%;
    }
    
    #restro {
        margin-left: -15px;
        margin-right: 15px;
    }
    #carwa{
        margin-left: 10px;
        margin-right: 10px;
    }
.container{ 
    max-width: 1536px;
}
.home-main{
    height: 100%;
    width: 100%;
    position: absolute;
}
section.hero_section {
    padding: 0px 50px;
}
.hero_section_logo img {
    height: 100px;
}

.hero_heading img:nth-child(1) {
    height: 55px;
}
.hero_heading {
    margin-top: 32px;
}

span.amt_hd {
    font-size: 58px;
}
span.des {
    font-size: 58px;
}
.home-main-box .service-box {
    /* max-width: 144px; */
    /* border-left: 2px solid #FFFFFF80; */
    display: flex;
    align-items: center;
}
.home-main-box .service-box .image img {
    height: 60px;
}
.transactions-box-area .transactions-box {
    padding-top: 48px;
    padding-right: 48px;
    padding-bottom: 0px;
    padding-left: 48px;
    background: #FAFAFAE5;
    border-right: 2px solid var(--colors-neutrals-3, #C2BFBA);
    height: 100%;
    backdrop-filter: blur(7.5px);
}


.transactions-box-area .consumer-service-section .service-box {
    /* max-width: 144px; */
}
.transactions-box-area .consumer-service-section .service-box .image img {
    height: 68px;
}
.transactions-box-area .consumer-service-section .service-box h4 {
    font-size: 23px;
}
.transactions-box-area .sponsors-logo-box {
    column-gap: 15px;
    row-gap: 18px;
}
.transactions-box-area .transactions-box .sponsors-logo-box {
    margin-top: 32px;
}
.client-testimonial {
    position: relative;
    height: 351px;
}

.created-box {
    height: 49%;
}
.home-main-box .consumer-service-section{
    column-gap: 15px;
}
}


@media(max-width:1536px) {
    .about-bottom-box .detiels h4{
        max-width: 335px;
    }
    .created-box {
        height: 55%;
    }
    .container{
        max-width: 1440px;
    }
    .counter-box h2 {
        font-size: 57.935px;
    }
    .client-testimonial {
        position: relative;
        height: 337px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box {
        margin-top: 0px;
        column-gap: 10px;
        row-gap: 27px;
        
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 66px;
    }
    .transactions-box-area .transactions-box h2 {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 77px;
    }
    .transactions-box-area .consumer-service-section .service-box h4 {
        font-size: 20px;
    }
    .consumer-deals-box {
        height: 100%;
    }
    
    
    .consumer-deals-box .usp-box {
        background: #000000CC;
        border-radius: 0;
        margin: 0;
        flex-wrap: wrap;
        align-items: center;
        backdrop-filter: blur(7.5px);
        height: 100%;
    }
    .created-box {
        height: 46%;
    }
    .home-main-box .consumer-service-section {  
        column-gap: 20px;
        
    }
    .home-main-box .service-box h4{
        font-size:20px;
    }
}


@media(max-width:1440px) {
    /* #restro {
    margin-left: -10px;
    margin-right: 10px;
} */
#carwa0 {
    margin-left: 30px;
    margin-right: 35px;
}
    .created-box {
        height: 48%;
    }
    .container{
        max-width: 1336px;
    }
    .home-main-box .consumer-service-section {
        column-gap: 20px;
    }
    .home-main-box .service-box {
        /* max-width: 144px; */
    }
    .home-main-box .service-box h4 {
        font-size: 18px;
        margin-left: -36px;

    }
    .transactions-box-area .transactions-box h2 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 60px;
    }
    .client-testimonial {
        height: 312px;
    }
    .transactions-box-area .consumer-service-section .service-box {
        /* max-width: 168px; */
    }
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 70px;
    }
    .transactions-box-area .consumer-service-section .service-box h4 {
        font-size: 19px;
    }
    .home-main-box .consumer-service-section{
        padding-right:10px;
    }
}


@media(max-width:1366px) {
    .about-bottom-box .detiels h4{
        max-width: 300px;
    }
    .created-box {
    height: 49%;
    }
    .container{
        max-width: 1280px;
    }
    .home-main-box {
        justify-content: space-between;
        padding: 35px 0px 40px;
        height: 100%;
        flex-direction: column;
    }
    .hero_section_logo img {
        height: 85px;
    }
    .hero_heading {
        margin-top: 20px;
    }
    .hero_heading img:nth-child(1) {
        height: 55px;
    }
    .usp_heading {
        font-size: 25px;
    }
    .usp_box {
        
        padding: 30px 35px;
    }
    .bottom-area > p {
        font-size: 17px;
    }
    .lower_head {
        margin-top: 10px;
    }
    .sponsors-text{
        width: 90%; /* Adjust the width as needed */
        max-width: 1000px; /* Set a maximum width for better readability */
        margin: 0 auto; /* Center the div horizontally */
        text-align: center;
        padding-left: 60px; 
        padding-right: 60px; 
    }
    span.amt_hd {
        font-size: 47px;
    }
    span.des {
        font-size: 47px;
    }
    #restro{
        margin-left: 0px;
        margin-right: 0px;
    }
    #carwa {
        margin-left: -10px;
        margin-right: 0px;
    }
    #carwa0{
        /* margin-left: 0px; */
        margin-right: 0px;
    }
    .home-main-box .consumer-service-section {
        margin-top: 20px;
        margin-bottom: 15px;

    }
    .home-main-box .service-box {
        /* max-width: 110px; */
        column-gap: 26px;
    }
    .client-testimonial .client-content {
        position: absolute;
        font-family: Nohemi;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        padding-left: 32px;
        align-items: center;
        z-index: 1;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 56px;
    }
    .client-testimonial {
        height: auto;
        text-align: center;
    }
    .transactions-box-area .consumer-service-section .service-box {
        /* max-width: 151px; */
    }
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 66px;
    }
    .transactions-box-area .consumer-service-section .service-box h4 {
        font-size: 18px;
    }
    .botom-head h3 {
        font-size: 25px;
    }
    .counter-box h2 {
        font-size: 51.935px;
    }
}
@media (max-width:1280px) {
    #restro0 {
        margin-left: 0px;
        margin-right: 35px;
    }
    .home-main-box .service-box h4{
        font-size: 16px;
        margin-left: -45px;
    }
    .created-box {
        height: 50%;
    }
    #restro {
        margin-left: -10px;
        margin-right: 0px;
        
    }
    #carwa0 {
        margin-left: 12px;
        margin-right: -12px;
    }
}
@media only screen and (min-width: 1280px) and (min-height: 1024px) and (max-width: 1280px) and (max-height: 1024px) {
    .created-box {
        height: 58%;
    }
    .home-main-box .consumer-service-section {
        column-gap: 19px;
    }
    .home-main-box .service-box {
        /* max-width: 111px; */
        width: min-content;
    }
    .home-main-box .service-box h4 {
        font-size: 18px;
    }
    .home-main-box .service-box .image img {
        height: 50px;
    }
    .hero_heading {
        margin-top: 44px;
    }
    .hero_heading img:nth-child(1) {
        height: 60px;
    }
    .hero_section_logo img {
        height: 100px;
    }
    .usp_box {
        padding: 30px 35px;
    }

    video.bg_vid {
        width: auto;
        height: 100%;
    }

    .transactions-box-area .transactions-box h2 {
        font-size: 36px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 51px;
    }
    .client-testimonial {
        height: 274px;
    }
    .consumer-deals-box .counter-box p {
        font-size: 18px;
    }
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 63px;
    }
}

@media only screen and (min-width: 1280px) and (min-height: 720px) and (max-width: 1280px) and (max-height: 800px) {
    .home-main-box .consumer-service-section {
        margin-top: 20px;
    }
    .home-main-box .service-box {
        /* max-width: 140px; */
        width: min-content;
    }
    #restra {
        margin-left:-12px;
    }
    .home-main-box .service-box h4 {
        font-size: 18px;
    }
    .home-main-box .service-box .image img {
        /* height: 45px; */
    }
    .transactions-box-area .transactions-box h2 {
        font-size: 36px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 51px;
    }
    .client-testimonial {
        height: 274px;
    }
    .consumer-deals-box .counter-box p {
        font-size: 18px;
    }
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 63px;
    }
    .created-box {
        height: 50%;
    }
}

@media (max-width: 1180px) {
    #restro {
        margin-left: -10px;
        margin-right: 10px;
    }
    #carwa0 {
        margin-left: 15px;
        margin-right: -5px;
    }
    #carwa {
        margin-left: -20px;
        margin-right: 10px;
    }
    .home-main-box .service-box{
        /* max-width: 80px; */
        /* transform: scale(0.8) ; */
    }
    .consumer-deals-box {
        height: 100%;
    }
    .created-box {
        height: 60.69%;
    }
    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img {
        width: 470px;
        height: 470px;
    }
    .home-main-box .consumer-service-section {
        display: flex;
        flex-wrap: wrap;
        
        column-gap: 20px;
    }
        
    .transactions-box-area .consumer-service-section .service-box h4 {
        font-size: 16px;
    }
    .transactions-box-area .consumer-service-section {
        background: #000000CC;
        column-gap: 15px;
        backdrop-filter: blur(7.5px);
        margin: 0;
        padding: 48px;
        border-top: 2px solid var(--colors-neutrals-3, #C2BFBA);
    }

}

@media(max-width:1024px){
    #restro {
        margin-left: -10px;
        margin-right: 15px;
    }
    
    section.hero_section {
        padding: 0px 21px;
    }
    .home-main-box .consumer-service-section {
        column-gap: 10px;
        padding-right: 0px;
    }
    .home-main-box .service-box .image img {
        height: 45px;
    }
    .home-main-box .service-box h4 {
        font-size: 16px;
    }
    .home-main-box .service-box {
        max-width: 130px;
        /* width: min-content; */
    }
    video.bg_vid {
        width: auto;
        height: 100%;
    }
    .inner-header {
        padding: 16px 35px;
    }
    .inner-logo img {
        height: 65px;
    }
    header .menu ul li {
        padding: 0px 13px;
    }
    .btn_content {
        font-size: 17px;
    }
    .inner-banner {
        padding: 35px 42px;
    }
    .transactions-box-area .transactions-box {
        padding: 30px;
    }
    .transactions-box-area .transactions-box h2 {
        font-size: 31px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .transactions-box-area .transactions-box p {
        font-size: 17px;
        line-height: 23px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box {
        margin-top: 50px;
        column-gap: 15px;
        row-gap: 27px;
    }
    .transactions-box-area .transactions-box .sponsors-logo-box .sponsors-image-box img {
        height: 38px;
    }
    .consumer-deals-box .usp-box {
        padding: 30px;
    }
    .counter-box h2 {
        font-size: 35.935px;
    }
    .consumer-deals-box .counter-box p {
        font-size: 17px;
        line-height: 130%;
        margin-top: 18px;
        letter-spacing: 0.4px;
    }
    .botom-head h3 {
        font-size: 23px;
    }
    .client-testimonial .client-content >p {
        font-size: 15px;
        letter-spacing: 3.6px;
    }
    .client-testimonial {
        height: 224px;
    }
    .transactions-box-area .consumer-service-section {
        padding: 30px;
        display: flex;
        /* justify-content: space-between; */
    }
    .consumer-heading p {
        font-size: 16px;
        letter-spacing: 2.6px;
        margin-bottom: 26px;
    }
    .transactions-box-area .consumer-service-section .service-box{
        width:100px;
    }
    
    .transactions-box-area .consumer-service-section .service-box .image img {
        height: 50px;
    }
    .transactions-box-area .consumer-service-section .service-box h4 {
        font-size: 15px;
    }
    .consumer-deals-box .counter-box:nth-child(1) {
        padding-right: 26px;
    }
    .client-testimonial .client-content {
        position: absolute;
        font-family: Nohemi;
        top: 0px;
        left: 0;
        width: 100%;
        height: 77px;
        display: flex;
        justify-content: center;
        padding-left: 18px;
        align-items: center;
        z-index: 1;
    }
    .play-button-wrapper svg {
        width: 50px;
        height: 50px;
        fill: white;
    }
    .sponsors-box-area .sponsors-box {
        padding: 30px;
    }
    .sponsors-box-area .sponsors-box h2 {
        font-family: Nohemi;
        font-size: 31px;
        margin-bottom: 20px;
        font-weight: 500;
        line-height: normal;
        text-align: left;
        color: var(--Primary-Blue-1, #151F6D);
    }
    .sponsors-box-area .sponsors-box p {
        font-family: Nohemi;
        font-size: 17px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #444444;
    }
    .sponsors-page .sponsors-logo-box img {
        height: 36px;
    }
    .sponsors-page .sponsors-logo-box {
        display: flex;
        flex-wrap: wrap;
        column-gap: 32px;
        row-gap: 34px;
        justify-content: center;
        align-items: center;
        margin-top: 42px;
    }
    .sponsors-box-area .consumer-deals-box {
        padding: 30px;
    }
    .sponsors-box-area .consumer-deals-box form .form-control {
        height: 50px;
    }
    .sponsors-box-area .consumer-deals-box form .submit-btn {
        border: none;
        background: #FAFAFA;
        width: fit-content;
        padding: 18px 22px 14px 24px;
        border-radius: 4px;
        font-family: Acumin Variable Concept;
        font-size: 18px;
        margin: auto;
        font-weight: 500;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--colors-primary-2, #151F6D);
        margin-top: 8px;
    }
    .sponsors-box-area .consumer-deals-box h3 {
        font-family: Nohemi;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        margin-bottom: 24px;
    }
    .for-sponsors-box-area .for-sponsors-box {
        background: #040A34CC;
        border-bottom: 2px solid var(--colors-neutrals-3, #C2BFBA);
        padding: 30px;
    }
    .for-sponsors-box-area .for-sponsors-box h2 {
        font-family: Nohemi;
        font-size: 31px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
    }
    .for-sponsors-box-area .for-sponsors-box p {
        font-family: Nohemi;
        font-size: 17px;
        font-weight: 500;
        font-style: normal;
        line-height: 23px;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
        margin-top: 30px;
        letter-spacing: 0.4px;
        margin-bottom: 0;
        padding: 0px 40px;
    }
    .for-sponsors-box-area .side-deals-box {
        border-right: 2px solid var(--colors-neutrals-3, #C2BFBA);
        padding: 30px;
    }
    .for-sponsors-box-area .side-deals-box h3 {
        font-family: Nohemi;
        font-size: 25px;
        font-weight: 500;
        line-height: 24.6px;
        text-align: left;
        color: var(--colors-primary-1, #0A124E);
    }
    .for-sponsors-box-area .side-deals-box p {
        text-align: left;
        color: var(--Primary-Black, #363432);
        font-family: "Acumin Variable Concept";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        margin-top: 14px;
        margin-bottom: 0;
    }
    .side-deals-box.buy-side::after {
        position: absolute;
        right: -39px;
        top: 50%;
        content: '&';
        font-family: Acumin Variable Concept;
        font-size: 34px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
        background: var(--colors-primary-3, #6C78D3);
        width: 74px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 82px;
        padding: 19px 36px;
    }
    .for-sponsors-box-area .sponsors-bottom {
        padding: 30px;
    }
    .for-sponsors-box-area .sponsors-bottom p {
        text-align: center;
        font-family: Acumin Variable Concept;
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
        color: #363432;
    }
    .for-sponsors-box-area .sponsors-bottom marquee {
        margin-top: 15px;
    }
    .for-sponsors-box-area .sponsors-bottom marquee ul {
        display: flex;
        list-style: none;
        height: 100px;
        margin: 0;
        padding: 0;
        gap: 30px;
        align-items: center;
    }    
    .for-sponsors-box-area .sponsors-bottom marquee ul img {
        height: 50px;
    }
    .side-deals-box.consumer-business-box span.line3 {
        top: 71%;
        right: -44px;
        width: 179px;
    }
    .side-deals-box.consumer-business-box span {
        position: absolute;
        width: 155px;
    }
    
    .consumer-business-content-box ul li {
        list-style: none;
        position: relative;
    
        margin-top: 13%;
    }    
    
    .for-sponsors-box-area .side-deals-box h4 {
        font-family: Nohemi;
      
    }
    .for-sponsors-box-area .side-deals-box.consumer-business-content-box p {
        margin-top: 6px;
        font-size: 14px;
        line-height: normal;
    }
    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img {
        width: 369px;
        height: auto;
    }
    .for-sponsors-box-area .side-deals-box {
        border-right: none;
        padding: 30px;
    }
    .side-deals-box.consumer-business-box span.line2 {
        top: 43.5%;
        right: -80px;
        width: 183px;
    }
    .side-deals-box.consumer-business-box span.line1 {
        top: 17.3%;
        right: -31px;
    }
    .for-sponsors-box-area.for-consumer-business .sponsors-bottom h4 {
        font-family: Nohemi;
        font-size: 28px;
        font-weight: 500;
        line-height: 28.6px;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
    }
    main.inner-page-main.height_f.contact-us-page .inner-banner {
        padding: 30px 43px;
    }
    .contact-box-area {
        border: 2px solid #C2BFBA80;
        border-radius: 16px;
        height: 556px;
        overflow: hidden;
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content h2 {
        font-family: Nohemi;
        font-size: 48px;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        color: white;
        margin: 0;
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content .mail-contact {
        background: var(--colors-neutrals-5, #FAFAFA);
        display: block;
        width: max-content;
        font-family: Nohemi;
        font-size: 24px;
        font-weight: 500;
        line-height: 41.6px;
        text-align: center;
        padding: 14px 41px;
        text-decoration: none;
        border-radius: 68px;
        margin-top: 34px;
        color: var(--colors-primary-1, #0A124E);
    }
    .contact-box-area .details-box .details-content h4 {
        font-family: Nohemi;
        font-size: 25px;
        font-weight: 500;
        line-height: 25.6px;
        text-align: left;
        margin: 0;
        color: var(--colors-primary-3, #6C78D3);
    }
    .contact-box-area .details-box .details-content a {
        text-decoration: none;
        font-family: Nohemi;
        font-size: 25px;
        font-weight: 500;
        line-height: 29.6px;
        text-align: left;
        display: block;
        margin-top: 30px;
        color: var(--colors-primary-0, #040A34);
    }
    .contact-box-area .details-box .details-content {
        width: 284px;
    }
    .side-deals-box.buy-side {
        border-right: 2px solid var(--colors-neutrals-3, #C2BFBA);
    }
    .about-box-section {
        display: flex;
        flex-direction: column;
    }
    .about-bottom-box{
        display: flex;
        align-items: center;
    justify-content: center;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(1) {
        width: 100%;
        height: max-content;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(2) {
        width: 100%;
    }
    .about-box-area .bottom-area .about-bottom-box .about-bottom-box {
        width: 100%;
        padding-bottom: 0;
    }
    .about-box-area .bottom-area .about-bottom-box:nth-child(2) {
        border-top: 2px solid rgba(194, 191, 186, 1);
        border-bottom: 2px solid rgba(194, 191, 186, 1);
    }
    .top-about-box {
        display: flex;
        flex-direction: column;
    }
    .about-box-area .bottom-area .detiels {
        display: block;
        height: fit-content;
        width: fit-content;
        margin-left: 0px;
        margin-top: 20px;
        
    }
    .about-box-area .top-area .different-area {
        display: flex;
        margin-top: 48px;
        column-gap: 35px;
        row-gap: 36px;
        flex-direction: column;
    }
    .about-box-area .top-area .different-area {
        display: flex;
        margin-top: 48px;
        column-gap: 35px;
        row-gap: 36px;
        flex-direction: column;
    }
    .the-team {
        width: 100%;
        padding: 0px 32px;
        width: 100%;
        position: absolute;
        top: 0;
        padding: 30px 31px;
    }
    .about-box-area .bottom-area .about-bottom-box .about-bottom-box:nth-child(2) {
        width:100%;
    }
    .about-box-section {
        position: relative;
        padding-top: 142px;
    }
    .created-box {
        height: 300px;
    }
    #carwa0 {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media(max-width:768px) {
    .sponsors-text {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        text-align: left;
        padding-left: 0px;
        padding-right: 0px;
    }
    .for-sponsors-box-area .side-deals-box.consumer-business-content-box p {
        margin-top: 6px;
        font-size: 18px;
        line-height: normal;
        margin-right: 6px;
    }
    
    .home-main {
        height: fit-content;
        overflow: visible;
        
    }
    section.hero_section {
        padding: 0px 0px;
        
    }
    /* section.hero_section .container-fluid,
    section.hero_section .row {
        height: 100%;
    } */
    section.hero_section .row .col-lg-10.col-12 {
        height: 85%;
        
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }
    
    .home-main-box {
        padding: 25px 0px 0px;
        justify-content: space-around;

    }
    .logo_head {
        margin-top: 0px;
        padding: 0px 20px;
    }
    .bottom-area{
        padding: 0px 20px;
    }
    .usp-cont {
        padding: 0px 20px;
    }
    .hero_heading {
        margin-top: 30px;
    }
    .usp_box {
        padding: 17px 26px;
        border-radius: 16px;
        gap: 43px;
    }
    span.amt_hd {
        font-size: 30.935px;
        margin-right: 6px;
    }
    span.des {
        font-size: 30.295px;
    }
    .lower_head {
        color: var(--Off-white, #FAFAFA);
        font-family: Nohemi;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 8px;
        letter-spacing: 0.4px;
    }
    .marquees ul {
        display: flex;
        flex-direction: row;
        row-gap: 41px;
        column-gap: 20px;
    }
    .microsoft {
        height: 170px;
        margin-top: 10px;
    }
    .transactions-box-area .consumer-service-section .service-box {
        margin-bottom: 20px;
    }
    .contact-box-area {
        border: 2px solid #C2BFBA80;
        border-radius: 16px;
        height: 580px;
    }
    /* .consumer-business-content-box ul li:nth-child(2) {
        margin: 0px;
    } */
    .contact-box-area .details-box {
        background: var(--colors-neutrals-5, #FAFAFA);
        border-top: 1px solid var(--colors-neutrals-3, #C2BFBA);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 40px;
    }
    .menu.allscreen-navbar {
        display: none !important;
    }
    header .menu ul li.dropdown.active > ul {
        border: none;
    }
    .inner-header .menu ul li.dropdown > ul li {
        background: transparent !important;
        border: none !important;
    }
    header .menu ul li.dropdown > ul li a {
        color: var(--colors-secondary-3, #A3BFF8);
    }
    header .menu ul li.dropdown > ul li {
        padding: 10px 16px;
        font-family: Acumin Variable Concept;
        font-size: 18px;
        font-weight: 500;
        border-top: 1px solid #FFFFFF4D;
        border-right: none;
        line-height: 24px;
        display: block;
        text-align: left;
        color: var(--colors-secondary-3, #A3BFF8);
        background: transparent;
        border: none;
    }
    
    header .menu ul li.active a {
        color: white;
    }
    header .menu ul li.dropdown > ul li:hover {
        background: transparent;
    }    
    .navbar-expand-lg .navbar-collapse.mobile-menue{
        display: block !important;
    }
    .navbar-collapse.allscreen-navbar {
        display: none !important;
    }
    .navbar-collapse.mobile-menue div#menu {
        padding: 0px 16px 32px;
    }
    header .menu ul li.dropdown.active > ul{
        display: block;
        transform: translateY(0px);
    }
    .navbar-collapse.mobile-menue div#menu .get_in_touch_btn{
        float: right;
        margin-top: 30px;
    }
    .client-testimonial {
        position: relative;
        height: 394px;
    }
    video#video {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0%;
        top: 0px;
    }
    .menu::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(22px);
    }
    header{
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .marquees {
        height: 100%;
        display: flex;
    }
    
    ul.marquee_inner_copy {
        display: flex;
    }
    .marquees li img {
        max-width: fit-content;
    }
    marquee.marquees ul {
        padding: 0;
        margin: 0;
        align-items: center;
        height: 100%;
        display: flex;
    }
    marquee.marquees{
        display: flex;
    }
    .inner-page-main.contact-us-page {
        height: 100vh;
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content h2 {
        font-family: Nohemi;
        font-size: 42px;
        font-weight: 500;
        line-height: 68px;
        text-align: center;
        color: white;
        margin: 0;
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content .mail-contact {
        background: var(--colors-neutrals-5, #FAFAFA);
        display: block;
        width: max-content;
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 20.6px;
        text-align: center;
        padding: 19px 38px;
        text-decoration: none;
        border-radius: 68px;
        margin-top: 17px;
        color: var(--colors-primary-1, #0A124E);
    }
    .contact-box-area .details-box .details-content h4 {
        font-family: Nohemi;
        font-size: 21px;
        font-weight: 500;
        line-height: 19.6px;
        text-align: left;
        margin: 0;
        color: var(--colors-primary-3, #6C78D3);
    }
    .contact-box-area .details-box .details-content a {
        text-decoration: none;
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.6px;
        text-align: left;
        display: block;
        margin-top: 22px;
        color: var(--colors-primary-0, #040A34);
    }
    
    .side-deals-box.consumer-business-box span {
        display: none;
    }
    
    .for-sponsors-box-area.for-consumer-business .sponsors-bottom h4 {
        font-size: 28px;
        font-weight: 500;
        line-height: 33.6px;
    }
    .for-sponsors-box-area .side-deals-box .side-image img {
        width: 71%;
        height: auto;
        margin: auto;
        /* display: table; */
    }

    .for-sponsors-box-area .for-sponsors-box p {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 20px;
        padding: 0px;
    }
    .for-sponsors-box-area .side-deals-box .side-image{
        height: auto;
    }
    .for-sponsors-box-area .for-sponsors-box h2 {
        font-size: 33px;
        font-weight: 500;
        line-height: 31.22px;
    }
    .side-deals-box.buy-side {
        position: relative;
        border-bottom: 1px solid var(--colors-neutrals-3, #C2BFBA);
    }
    .for-sponsors-box-area .side-deals-box {
        border-right: 1px solid var(--colors-neutrals-3, #C2BFBA);
        padding: 30px;
        height: auto;
    }
    .side-deals-box.buy-side::after {
        right: 46%;
        top: 94%;
        font-size: 31px;
        font-weight: 500;
        line-height: 35px;
        height: 41px;
        width: 61px;
        border-radius: 32px;
    }
    
    #toggle {
        display: block;
        margin-left: 0;
        height: 23px;
    }
    nav.navbar {
        padding: 17px 24px;
    }
    .menu {
        position: absolute;
        top: 78px;
        left: 0;
        display: flex;
        align-items: center;
        background: #00000080;
        justify-content: start;
        height: max-content;
        width: 100%;
        display: none;
        z-index: 99999;
    }
    header .menu ul {
        margin: auto;
    }
    header .menu ul li:nth-child(1) {
        padding-left: 10px;
    }
    header .menu ul li {
        list-style: none;
        display: block;
        border-right: none;
        padding: 12px 10px;
        text-align: center;
    }
    header .menu ul li a {
        justify-content: center;
    }header .menu ul li {
        list-style: none;
        display: block;
        border-right: none;
        padding: 12px 10px;
        text-align: center;
    }
    header .menu ul li.dropdown > ul {
        position: relative;
        top: 11px;
        left: 0px;
    }
    .hero_section_logo {
        height: 84px;
    }
    .hero_heading img:nth-child(1) {
        height: 58px;
    }
    .usp_heading {
        font-size: 24px;
        font-weight: 500;
    }
    .usp_box {
        padding: 23px 28px;
        border-radius: 16px;
        gap: 43px;
    }
    span.des {
        font-size: 35.295px;
    }
    span.amt_hd {
        font-size: 35.935px;
        margin-right: 6px;
    }
    section.hero_section {
        padding: 0px 0px;
    }
    .service-box {
        width: 120px;
    }
    .marquee_logo {
        margin-right: 0rem;
        margin-bottom: 0;
    }
    .marquee_inner {
        display: flex;
    }
    
    @keyframes marquee {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
    .logo_head {
        margin-top: 33px;
        padding: 0px 20px;
    }
    
    .inner-logo img {
        height: 63px;
    }
    .about-box-area .top-area .different-area {
        display: flex;
        margin-top: 48px;
        column-gap: 40px;
        flex-wrap: wrap;
    }
    .about-box-area .top-area .different-area .different-box {
        display: flex;
        margin-top: 32px;
    }
    .about-box-area .top-area .different-area .different-box img {
        height: max-content;
        width: 90px;
    }
    .about-box-area .top-area .different-area .different-box .different-right {
        margin-left: -3px;
    }
    .about-box-area .top-area .different-area .different-box .different-right h5 {
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.6px;
    }
    .top-area .different-area .different-box .different-right p {
        font-family: Acumin Variable Concept;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 0;
    }
    .logo-man #toggle div {
        background: var(--colors-neutrals-1, rgba(54, 52, 50, 1));
    }
    .inner-logo img {
        height: 40px;
        width: auto;
    }
    .logo-man {
        display: flex;
        width: 50%;
        column-gap: 36px;
    }
    .inner-head .menu {
        background: var(--colors-neutrals-5, rgba(250, 250, 250, 1));
        border-bottom: 2px solid rgba(194, 191, 186, 0.5);
    }
    .material-symbols-outlined.arrow_out {
        font-size: 17px;
    }
    .btn_content {
        color: var(--Primary-Blue-1, #151F6D);
        font-family: "Acumin Variable Concept";
        font-size: 16px;
    }
    .about-box-area .top-area .different-area .different-box img {
        height: max-content;
        width: 50px;
    }.the-team {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 30px 16px;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(2) {
        width: 100%;
        padding: 0px;
        flex-wrap: wrap;
    }
    .about-box-area .bottom-area .about-bottom-box:nth-child(2) {
        border-top: 2px solid rgba(194, 191, 186, 1);
        border-bottom: 2px solid rgba(194, 191, 186, 1);
    }
    .about-box-area .bottom-area .about-bottom-box {
        width: 100%;
        padding: 21px;
        display: flex;
        flex-wrap: wrap;
        border-right: 0;
    }
    .about-box-area .bottom-area .about-bottom-box .about-bottom-box {
        width: 100%;
    }.about-box-area .bottom-area .about-bottom-box .about-bottom-box:nth-child(2) {
        border-bottom: none;
        width:100%;
    }.about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(2) {
        width: 100%;
        padding: 0px;
        flex-wrap: wrap;
    }.top-about-box {
        display: flex;
        flex-wrap: wrap;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(1) {
        width: 100%;
        height: max-content;
    }
    .about-box-section {
        display: flex;
        flex-wrap: wrap;
    }
    .about-box-area .bottom-area .detiels {
        display: block;
        height: fit-content;
        width: fit-content;
        margin-left: 0px;
        margin-top: 34px;
        
    }
    header .menu ul li.dropdown > ul {
        border: none;
    }
    .client-testimonial {
        position: relative;
        height: 203px;
    }
    .consumer-business-content-box ul li:nth-child(1) {
        margin-left: 0;
        margin-top:20px;
    }
    .consumer-business-content-box ul li:nth-child(2){
        margin-left: 0;
        margin-top:20px;
    }
    .consumer-business-content-box ul li:nth-child(3) {
        margin-left: 0;
        margin-top:20px;
    }
    #carwa {
        margin-left:0px;
        margin-right:0px;
    }
    #restro {
        margin-left: 0px;
        margin-right: 0px;
    }
    
}

@media(max-width:480px) and (min-width:320px){
    .desktop-image {
        display: none;
    }
    .mobile-image {
        display: block;
    }

    .for-sponsors-box-area.for-consumer-business .side-deals-box .side-image img{
        height:auto;
        width:100%;
    }
    .video-wrapper {
        height: 203px;
    }
    .breadcrumb-box ul{
        display:none
    }
    .for-sponsors-box-area .sponsors-bottom marquee ul {
        display: flex;
        list-style: none;
        height: 49px;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .for-sponsors-box-area .sponsors-bottom marquee ul li {
        padding: 0px 19px;
        height: 100%;
    }
    .for-sponsors-box-area .sponsors-bottom marquee ul li img {
        height: 100%;
    }
    header.inner-header .menu ul li.active a {
        color: var(--colors-neutrals-1, #363432);
    }
    .for-sponsors-box-area .sponsors-bottom h3 {
        color: var(--colors-primary-2, #151F6D);
        text-align: left;
        font-family: Nohemi;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.56px;
        margin-bottom: 16px;
    }
    .for-sponsors-box-area .sponsors-bottom p {
        text-align: left;
        color: #363432;
        font-family: "Acumin Variable Concept";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
    main.inner-page-main {
        background-attachment: fixed;
    }
    .play-button-wrapper svg {
        width: 50px;
        height: 50px;
        fill: white;
    }
    .contact-box-area .get-in-touch-box {
        background: #040A34CC;
        border-right: 2px solid var(--colors-neutrals-3, #C2BFBA);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        width: 100%;
        padding: 145px 24px;
    }
    .contact-box-area {
        border: 2px solid #C2BFBA80;
        border-radius: 16px;
        height: max-content;
        overflow: hidden;
    }
    .for-sponsors-box-area .for-sponsors-box {
        padding: 29px 24px;
    }
    .for-sponsors-box-area .for-sponsors-box p {
        font-family: Nohemi;
        font-size: 15px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: 0.02em;
    }
    
    .for-sponsors-box-area .side-deals-box:last-child {
            padding: 20px 30px;
    }
    
    .contact-box-area .details-box{
        padding: 28px 32px;
    }
    .consumer-deals-box .usp-box .counter-box {
        width: 55%;
    }
    .botom-head{
        display:none;
    }
    .counter-box h2 {
        font-family: Nohemi;
        font-size: 28.935px;
        font-weight: 500;
        line-height: 65px;
    }
    .consumer-deals-box .counter-box:nth-child(1) {
        padding-right: 0px;
    }
    .client-testimonial {
        position: static;
        height: 240px;
    }
    .video-wrapper {
        height: 240px;
    }
    .transactions-box-area .consumer-service-section {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        column-gap: 0px;
        
    }
    video.bg_vid {
        min-width: 100vw;
        min-height: 100vh;
        width: auto;
        height: 100%;
        position: fixed;
    }
    .hero_section_logo {
        height: 76.02px;
        margin: auto;
        margin-bottom: 30px;
    }
    
    .hero_section_logo img {
        display: table;
        margin: auto;
        height: 78px;
        width: auto;
    }
    .usp_heading {
        font-size: 20px;
        text-align: center;
    }
    .hero_heading img{
        margin: auto;
    }
    #toggle {
        display: block;
    }
    .home-header {
        background: #00000080;
        position: relative;
    }
    .menu {
        position: absolute;
        top: 76.3px;
        left: 0;
        display: flex;
        align-items: center;
        background: #000000d1;
        justify-content: start;
        height: max-content;
        width: 100%;
        display: none;
    }
    header .menu ul li {
        list-style: none;
        display: block;
        border-right: none;
        padding: 12px 10px;
        text-align: center;
    }
    header .menu ul li a{
        justify-content: center;
    }
    .get-in-touch-btn {
        font-size: 16px;
        font-weight: 500;
        line-height: 15px;
    }
    .get-in-touch-btn i {
        transform: rotate(142deg);
        margin-left: 8px;
        font-size: 15px;
    }
    header {
        padding:0px;
    }
    
    #toggle {
        width: 26px;
        height: 20px;
        margin: 10px 0px;
    }
    header .menu ul {
        margin: auto;
    }
    header .menu ul li:nth-child(1) {
        padding-left: 10px;
    }
    header .menu ul li a {
        justify-content: center;
    }
    header .menu ul li.dropdown > ul {
        position: relative;
        top: 11px;
        left: 0px;
    }
    .top-area .logo {
        height: 76.02px;
        margin: auto;
    }
    .heading br {
        display: block;
    }
    .heading {
        text-align: center;
    }
    .middle-area > p {
        font-size: 20px;
        font-weight: 500;
        line-height: 34.6px;
        text-align: center;
    }
    .usp-box {
        padding: 32px 48px 32px 48px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .counter-box:nth-child(1) {
        padding-right: 0px;
    }
    .counter-box:nth-child(2) {
        width: 100%;
        position: relative;
        padding: 64px 0px;
    }
    .counter-box:nth-child(2)::before {
        content: '';
        position: absolute;
        right: 25%;
        top: 15%;
        height: 2px;
        width: 50%;
        background: #FAFAFA80;
    }
    .counter-box:nth-child(2)::after {
        content: '';
        position: absolute;
        left: 25%;
        top: 88%;
        height: 2px;
        width: 50%;
        background: #FAFAFA80;
    }
    .counter-box:nth-child(3) {
        padding-left: 0px;
    }
    .counter-box {
        text-align: center;
        width: 100%;
    }
    .banner .bottom-area {
        padding: 0px 16px;
    }
    .home-main-box .consumer-service-section {
        justify-content: space-between;
        display: flex;
        margin-top: 32px;
        row-gap: 25px;
        /* column-gap: 0px; */
        padding: 20px;

    }
    .bottom-area > p {
        font-size: 18px;
        text-align: center;
    }
    .bottom-area {
        margin-top: 57px;
    }
    .consumer-service-section {
        display: flex;
        margin-top: 32px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .service-box {
        width: 42%;
        /* border-left: 2px solid #FFFFFF80; */
        margin-right: 24px;
        display: flex;
        align-items: center;
    }
    .banner {
        padding: 0 0px;
    }
    .middle-area {
        margin-top: 70px;
    }
    .service-box h4 {
        font-size: 18px;
        line-height: 23.6px;
    }

    .inner-logo img {
        height: 40px;
        width: auto;
    }
    
    .logo-man {
        display: flex;
        width: 50%;
        column-gap: 36px;
    }
    
    .logo-man #toggle div {
        background: var(--colors-neutrals-1, rgba(54, 52, 50, 1));
    }

    #restra{
        margin-left:-12px;
    }
    .inner-banner {
        padding: 25px 29px;
    }
    .sponsors-box-area .sponsors-box {
        background: var(--Off-white, #FAFAFA);
        padding: 30px 19px;
        height: 100%;
    }
    .sponsors-box-area .sponsors-box h2 {
        font-family: Nohemi;
        font-size: 32px;
        margin-bottom: 16px;
        font-weight: 500;
        line-height: 41.22px;
        text-align: left;
        color: var(--Primary-Blue-1, #151F6D);
    }
    .sponsors-box-area .sponsors-box p {
        font-family: Nohemi;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #444444;
    }
    .sponsors-box-area {
        height: max-content;
    }
    .sponsors-box-area .consumer-deals-box {
        padding: 48px 16px;
        background: rgba(4, 10, 52, 0.5);
        border-top: 1px solid var(--colors-neutrals-3, #C2BFBA);
        height: 100%;
    }
    .sponsors-box-area .consumer-deals-box h3 {
        font-family: Nohemi;
        font-size: 20px;
        font-weight: 500;
        line-height: 26.6px;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
        margin-bottom: 32px;
        padding: 0px 53px;
    }


    .about-box-area .bottom-area .about-bottom-box:nth-child(2) {
        border-top: 2px solid rgba(194, 191, 186, 1);
        border-bottom: 2px solid rgba(194, 191, 186, 1);
    }
    .about-box-area .bottom-area .about-bottom-box {
        width: 100%;
        padding: 21px;
        display: flex;
        flex-wrap: wrap;
        border-right: 0;
    }
    .about-box-section {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        padding-top: 62px;
    }
    .about-bottom-box .detiels h6 {
        margin-bottom: 15px;
        margin-top: 8px;
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 18.4px;
    }
    .about-bottom-box .detiels h4 {
        font-family: Nohemi;
        font-size: 28px;
        font-weight: 500;
        line-height: 23.6px;
    }
    .about-box-area .bottom-area .detiels {
        display: inline-block;
        height: fit-content;
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
    }
    .about-box-area .top-area {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 48px 32px;
        background: #040A34E5;
    }
    .about-box-area .top-area .different-area .different-box {
        display: flex;
        margin-top: 32px;
        width: 100% !important;
    }
    .about-box-area .top-area .different-area .different-box img {
        height: max-content;
        width: 90px;
    }
    .about-box-area .top-area .different-area .different-box .different-right {
        margin-left: -3px;
    }
    .about-box-area .top-area .different-area .different-box .different-right h5 {
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 33.6px;
    }
    .about-box-area .top-area .different-area .different-box img {
        height: max-content;
        width: 90px;
    }
    .about-box-area .top-area .different-area {
        display: flex;
        margin-top: 48px;
        column-gap: 40px;
        flex-wrap: wrap;
    }
    .top-area .different-area .different-box .different-right p {
        font-family: Acumin Variable Concept;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin-top: 0;
    }
    

    .client-testimonial >p {
        position: absolute;
        font-family: Nohemi;
        top: 32px;
        left: 23%;
        z-index: 99;
        font-size: 18px;
        font-weight: 400;
        line-height: 18.08px;
        letter-spacing: 0.2em;
        text-align: center;
        color: var(--colors-neutrals-1, #363432);
    }
    .consumer-deals-box .usp-box .counter-box:nth-child(2)::after {
        left: 35%;
        top: 15%;
        height: 2px;
        width: 30%;
    }
    .transactions-box-area .transactions-box {
        padding: 30px 19px;
        background: #FAFAFAE5;
        border-right: 0px solid var(--colors-neutrals-3, #C2BFBA);
    }
    .consumer-heading p {
        color: var(--colors-secondary-4, #E0EAFD);
        font-family: Nohemi;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 3.2px;
        text-transform: uppercase;
    }
    .consumer-heading {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .transactions-box-area .transactions-box h2 {
        font-family: Nohemi;
        font-size: 28px;
        font-weight: 500;
        line-height: 37.22px;
        text-align: left;
        color: var(--colors-primary-2, #151F6D);
    }
    .client-testimonial .client-content >p {
        font-family: Nohemi;
        font-size: 16px;
        font-weight: 400;
        line-height: 16.07px;
        letter-spacing: 0.2em;
        text-align: left;
    }
    .client-testimonial .client-content {
        position: absolute;
        font-family: Nohemi;
        top: 0px;
        left: 0;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        padding-left: 0px;
        align-items: center;
        z-index: 1;
    }
    .transactions-box-area .transactions-box p {
        font-family: Nohemi;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--colors-neutrals-1, #363432);
    }
    .for-sponsors-box-area .for-sponsors-box {
        padding: 30px 30px;
    }
    .for-sponsors-box-area .for-sponsors-box h2 {
        font-family: Nohemi;
        font-size: 32px;
        font-weight: 500;
        line-height: 24.22px;
    }
    .for-sponsors-box-area .for-sponsors-box p {
        font-family: Nohemi;
        font-size: 15px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.02em;
    }
    .for-sponsors-box-area .side-deals-box .side-image {
        padding: 15px 0px;
    }
    .for-sponsors-box-area .side-deals-box .side-image img {
        width: 100%;
        height: auto;
    }
    .for-sponsors-box-area.for-consumer-business .sponsors-bottom h4 {
        font-size: 22px;
        font-weight: 500;
        line-height: 29.6px;
    }
    .created-box{
        height: 150px;
        overflow:hidden;
    }
    .for-sponsors-box-area.for-consumer-business .side-deals-box {
        border-bottom: none;
        border-right: 0;
        padding: 20px 30px;
        height: max-content;
        background: #e7e7e7;
    }
    
    .side-deals-box.consumer-business-box span {
        display: none;
    }
    .side-deals-box.buy-side::after {
        display:none;
        position: absolute;
        right: 40%;
        top: 93%;
        content: '&';
        font-family: Acumin Variable Concept;
        font-size: 40px;
        font-weight: 500;
        line-height: 33px;
        text-align: center;
        color: var(--colors-neutrals-5, #FAFAFA);
        background: var(--colors-primary-3, #6C78D3);
        height: 60px;
        width: 75px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        border-radius: 32px;
    }
    nav.navbar {
        padding: 16px;
    }

    .consumer-business-content-box ul li h4 {
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.4px;
        text-align: left;
        margin-bottom: 16px;
    }
    
    .consumer-business-content-box ul li p {
        font-family: Acumin Variable Concept;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    .usp_box {
        display: flex;
        flex-direction: column;
        padding: 30px 45px;
        align-items: center;
        border-radius: 16px;
        border: 2px solid rgba(255, 255, 255, 0.30);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(40px);
        width: fit-content;
        gap: 15px;
        margin: auto;
        
    }
    .about-box-area .bottom-area .about-bottom-box .about-bottom-box:nth-child(2) {
        border-bottom: none;
        width: 100%;
    }
    .box_cont {
        text-align: center;
    }
    .divider img {
        transform: rotate(90deg);
    }
    section.hero_section {
        padding: 0px 0px;
    }
    .marquee_logo {
        margin-right: 0rem;
        margin-bottom: 0;
    }
    .marquee_inner {
        display: flex;
    }
    
    @keyframes marquee {
        0% { transform: translateX(10px); }
        100% { transform: translateX(-50%); }
    }
    .microsoft {
        height: 200px;
        margin-top: 40px;
    }
    .lower_head {
        font-size: 18px;
        margin-top: 10px;
    }
    span.amt_hd {
        font-size: 48.935px;
    }
    span.des{
        font-size: 48.935px;
    }

    .usp-cont {
        padding: 0px 40px;
    }

    .usp-cont {
        padding: 0px 40px;
    }
    .marquee {
        top: 4em;
    }

    .inner-header {
        padding: 16px 26px;
    }

    .about-box-area .bottom-area .about-bottom-box .about-bottom-box {
        width: 100%;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(2) {
        width: 100%;
        padding: 0px;
        flex-wrap: wrap;
    }
    .about-box-area .bottom-area .about-box-section > .about-bottom-box:nth-child(1) {
        width: 100%;
        height: max-content;
        margin-top: 45px;
    }
    .the-team {
        width: 100%;
        position: absolute;
        top: 0;
        padding: 30px 16px;
    }
    .top-about-box {
        display: flex;
        flex-wrap: wrap;
    }
    .inner-head .menu {
        background: var(--colors-neutrals-5, rgba(250, 250, 250, 1));
        border-bottom: 2px solid rgba(194, 191, 186, 0.5);
    }
    .breadcrumb-box{
        display: block !important;
    }
    .inner-page-main.contact-us-page {
        height: auto;
    }

    .contact-box-area .details-box .details-content h4 {
        font-family: Nohemi;
        font-size: 20px;
        font-weight: 500;
        line-height: 26.6px;
        text-align: left;
        letter-spacing: 0.4px;
        margin: 0;
        color: var(--colors-primary-3, #6C78D3);
    }
    .contact-box-area .details-box .details-content a {
        text-decoration: none;
        font-family: Nohemi;
        font-size: 20px;
        font-weight: 500;
        line-height: 26.6px;
        text-align: left;
        display: block;
        letter-spacing: 0.4px;
        margin-top: 16px;
        color: var(--colors-primary-0, #040A34);
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content h2 {
        font-family: Nohemi;
        font-size: 32px;
        font-weight: 500;
        line-height: 41px;
        text-align: center;
        color: white;
        margin: 0;
        margin-bottom: 32px;
    }
    .contact-box-area .get-in-touch-box .get-in-touch-content .mail-contact {
        background: var(--colors-neutrals-5, #FAFAFA);
        display: block;
        width: 80vw;
        font-family: Nohemi;
        font-size: 18px;
        font-weight: 500;
        line-height: 23.6px;
        text-align: center;
        padding: 19px 27px;
        text-decoration: none;
        border-radius: 68px;
        margin-top: 3px;
        color: var(--colors-primary-1, #0A124E);
    }
    .home-main-box .service-box {
        width:100px;
        /* max-width: 130px; */
        /* width: min-content; */
    }
    
    .consumer-business-content-box ul li:nth-child(1) {
        margin-left: 0;
        margin-top:20px;
    }
    .consumer-business-content-box ul li:nth-child(2){
        margin-left: 0;
        margin-top:20px;
    }
    .consumer-business-content-box ul li:nth-child(3) {
        margin-left: 0;
        margin-top:20px;
    }
    .contact-box-area .col-sm-8.col-12.p-0 {
        width: 100%;
    }
    
    .contact-box-area .col-sm-4.col-12.p-0 {
        width: 100%;
    }
    #restro {
        margin-right:25px;
        margin-left:0px;
    }
    #carwa {
        margin-left:0px;
    }
    #carwa0 {
        margin-left: 0px;
        margin-right:25px;
    }
    #restro0{
        margin-right:25px;
        margin-left:0px;
    }

}
